 $Background: #011627;
 $Foreground: #d6deeb;
 $CurrentLine: #01111d;
 $Selection: #1d3b53;
 $Cursor: #80a4c2;
 $LineNumber: #4b6479;
 $CurrentLineNumber: #c5e4fd;
 $TagsKeywords: #7fdbca;
 $Comment: #637777;
 $Red: #ef5350;
 $Green: #22da6e;
 $Yellow: #addb67;
 $Blue: #82aaff;
 $Orange: #f78c6c;
 $Magenta: #c792ea;
 $Cyan: #21c7a8;
 $White: #ffffff;
 $BrightBlack: #575656;

@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/NotoSansJP-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/NotoSansJP-Bold.otf") format("truetype");
}

@font-face {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/DotGothic16-Regular.ttf") format("truetype");
}


html {
  font-family: "Noto Sans Japanese", Fallback, Roboto;
  font-weight: 400;
  color: $White;
}


#app-container {
  max-width: 1600px;
  margin: 0 auto;
  float: none;
}

#app-logo {
  max-width: 320px;
  &:hover {
    filter: invert(59%) sepia(100%) saturate(326%) hue-rotate(119deg) brightness(90%) contrast(95%);
  };
}

/* Global Btn*/
.p-button{
  background-color: $Blue;
  border: 0px;
  color: $Background;
  &:enabled:hover {
    background-color: $Background;
    color: $White;
    border: 0px;

  }
}




/* SIDE BAR*/
.p-sidebar .p-sidebar-header {
  background-color: $Background;
  color: $Foreground;

}
.p-sidebar-content {
  background-color: $Background;
  color: $Foreground;
}
/* Mobile */

/*Artcile Page */
.p-badge {
  background-color: $Cyan;
}

/* HLJS */
.hljs{
  border-radius: 5px;
  border-style: solid;
  border-color: $LineNumber;
  border-width: 2px;
}


@media screen and (max-width: 576px) {
  .hide-mobile {
    display: none;
  }
  html {
    background-color: $Background;
  }
}

/* Desktop~ */
@media screen and (min-width: 577px) {
  html {
    background: url("/img/tokyo.png") no-repeat center center fixed;
    background-size: cover;
  }
  .hide-desktop {
    display: none;
  }
  #app-logo {
    max-width: 430px;
  }
}

/* Desktop ONLY*/
@media screen and (min-width: 992px) {
  /*
  #side-col {
    transform: perspective(1200px) rotateY(5deg);
  }
    */


}
