@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/NotoSansJP-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/NotoSansJP-Bold.otf") format("truetype");
}

@font-face {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/DotGothic16-Regular.ttf") format("truetype");
}


html {
  font-family: "Noto Sans Japanese", Fallback, Roboto;
  font-weight: 400;
  color: aliceblue;
}


#app-container {
  max-width: 1600px;
  margin: 0 auto;
  float: none;
}

#app-logo {
  max-width: 320px;
}




/* SIDE BAR*/
.p-sidebar .p-sidebar-header {
  background-color: #79D7CE;

}
.p-sidebar-content {
  background-color: #79D7CE;
}
/* Mobile */



@media screen and (max-width: 576px) {
  .hide-mobile {
    display: none;
  }
  html {
    background-color: #120e24;
  }
}

/* Desktop~ */
@media screen and (min-width: 577px) {
  html {
    background: url("/img/tokyo.png") no-repeat center center fixed;
    background-size: cover;
  }
  .hide-desktop {
    display: none;
  }
  #app-logo {
    max-width: 430px;
  }
}

/* Desktop ONLY*/
@media screen and (min-width: 992px) {
  /*
  #side-col {
    transform: perspective(1200px) rotateY(5deg);
  }
    */


}
